body{
    position: relative;
    font-size: 1.3rem!important;
}

.masthead h2{
    max-width: 40rem!important;
}

.toast {
    background-color: #030303!important;
}
  
.toast-success {
background-color: #51A351!important;
}

.toast-error {
background-color: #BD362F!important;
}

.toast-info {
background-color: #2F96B4!important;
}

.toast-warning {
background-color: #F89406!important;
}